.register{
  background: url(../img/bg_register.svg) no-repeat ;
  width: 100%;
}

.register .page_title{
  text-align: center;
  color: #FFF;
  margin-top: 130px;
  margin-bottom: 200px;
}
.page_description{
  font-size: var(--fontsize5);
}
.register form{
  margin-top: 70px;
}
.register form label{
  font-size: var(--fontsize5);
  font-weight: 400;
}
.photo_row{
  display: flex;
  justify-content: space-between;
}

.inputs_text{
  width: 65%;
}

.photo_row .input_image{
  width: 30%;
}

.months {
  margin-top:30px;
}
.months p{
  font-size: var(--fontsize5);
  margin-bottom: 7px;
}

.abelha_input{
  margin-top: 15px;
}
.cadastrar_abelha_input .abelhas{
  border: 1px solid #494949;
  min-height: 72px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 3%;
  padding: 10px;
}
.abelhas_group{
  display: flex;
  align-items: center;
}
#btn-abelha {
  height: 72px;
  width: 72px;
  background-color: #FFB5C9;
  font-size: var(--fontsize5);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
  color: #FFF;
}
.abelha_select{ 
  display: none;
  font-size: var(--fontsize1);
}

.abelha_select.show{
  display: block;
}

.image-form{
  width: 100%;
  margin-left: auto;
}
.image-form img{
  width: 210px;
  display: block;
  margin: auto;
}
.image-form input{
  display: none;
}

.image-form label {
  display: block;
  text-align: center;
  cursor: pointer;
  color:  #C87092;
  font-size: var(--fontsize2);
  margin-top: 10px;
}

.action_buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-cancelar{
  margin-right: 60px;
}

@media(max-width:1439px){
  .register{
    background-position-y: 260%;
  }
  .register .page_title {
    margin-top: 75px;
    margin-bottom: 190px;
  }

  .image-form img {
    width: 125px;
  }
  .cadastrar_abelha_input .abelhas{
    min-height: 40px;
    margin-right: 2%;
  }

  #btn-abelha {
    height: 40px;
    width: 40px;
  }
  .btn-cancelar {
    margin-right: 30px;
  }
}

@media(max-width:480px){
  .register {
    background: url(../img/bg_register_mobile.svg) no-repeat;
    background-position-x: center;
    background-size: contain;
  }

  .register .page_title {
    margin-top: 50px;
    margin-bottom: 120px;
  }
  .register form {
    margin-top: 30px;
  } 
  .action_buttons {
    width: 90%;
    margin-left: auto;
  }

  .btn-cancelar{
    margin-right: 20px;
  }

  .cadastrar_abelha_input .abelhas {
    min-height: 30px;
	}
	#btn-abelha {
    height: 30px;
    width: 30px;
  }
  .image-form label{
    margin-bottom: 0;
  }
  .image-form img {
    width: 70px;
  }
}