.calendario_flores {
  margin-top: 72px;
}
.calendar p {
  font-size: var(--fontsize1);
}

.description {
  width: 50%;
}

.select_abelhas {
  margin-top: 45px;
}

.flores {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.flor {
  margin-right: 6%;
  margin-bottom: 50px;
  cursor: pointer;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flor:nth-child(4n) {
  margin-right: 0;
}
.flor img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.flor span {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal.show {
  display: flex;
}
.flor_detalhes {
  width: 40vw;
  height: 40vw;
  background-color: #fffcfc;
}
.menu_mobile {
  display: none;
}
#imagem_flor {
  height: 40%;
  object-fit: cover;
}
.dados_flor {
  padding: 5%;
}
.dados_flor ul {
  list-style: none;
}
.dados_flor h4 {
  font-size: var(--fontsize1);
  color: #c87092;
  margin-bottom: 7px;
}
.dados_flor h4:last-of-type {
  margin-top: 12px;
}
.mobileButton {
  background: #fff;
  border-radius: 0.2rem;
  position: absolute;
  top: 3vh;
  right: 5vw;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: #c87092;
  box-shadow: 0 6px #c87092, 0 -6px #c87092;
  transition: 0.2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #c87092;
  color: #c87092;
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px #c87092, 0 -8px #c87092;
}
@media (max-width: 1439px) {
  .calendario_flores {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .page_title {
    text-align: center;
  }
  .description {
    width: 70%;
  }
  .calendario_flores {
    margin-top: 10vh;
  }
  .calendar {
    margin-top: 22px;
  }
  .mobileButton {
    display: flex;
  }
  .flores {
    margin-top: 30px;
  }
  .flor img {
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
  }

  .flor_detalhes {
    width: 80vw;
    height: 80vw;
  }

  .menu_mobile {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: none;
  }
  .menu_mobile.show {
    display: block;
  }
  .menu_mobile .link_buttons {
    display: block;
    margin-top: 15vh;
  }
  .menu_mobile .link_buttons .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .menu_mobile .btn-close {
    font-size: var(--fontsize4);
    font-weight: 700;
    color: #c87092;
    position: fixed;
    background-color: #fff;
    top: 3vh;
    right: 5vw;
  }
}
